@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Lato:wght@400;700&family=Open+Sans&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 5;
    padding: 5;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.texto-portada{
    position: absolute;
    left: 10%;
    width: 40%;
}
.texto-portada h1{
    font-family: 'Lato', sans-serif;
    font-size: 55px;
    color: #0c2a2f;
}
.texto-portada p{
    justify-content:center;
    font-family: 'Lato', sans-serif;
    font-size: 40px;

}
nav ul li a i{
    font-size: 30px;
    }
.texto-portada button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 20px;
    background: #d15959;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    color: #dcdbe4;
    outline: none;
    border-radius: 20px;
}
.aumento{
    font-size: 30px;
}
h2 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
h2 a:hover{
    color: #d4c600;
}
.nombre li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.1em;
    margin: 25px 10px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}
.menu button{
    padding: 10px 15px;
    margin-top: 0px;
    border: none;
    font-size: 14px;
    background: #d70505;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    outline: none;
    border-radius: 10%;
}


.portada{
    height: 735px;
    background-image: url(../../../assets/Imágenes/Joder.png);
    color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    background-blend-mode: darken;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
li{
    list-style: none;
}
li a{
    color: rgb(17, 1, 1);
    text-decoration: none;
    font-size: 1.1em;
    margin: 25px 10px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
li a:hover{
    color: #dc1128;
}