<section>
    <div *ngIf="!loading" id="recuperar" class="recuperar d-flex justify-content-center align-items-center">
        <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
            <h2>Recuperar Contraseña</h2>
            <div>
                <input type="email" formControlName="correo" placeholder="Correo Electronico" required>
                <span *ngIf="recuperarUsuario.get('correo')?.hasError('required') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLabel" >
                    El correo es requerido
                  </span>
                  <span *ngIf="recuperarUsuario.get('correo')?.hasError('email') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLabel" >
                    El correo es inválido
                  </span>
            </div>
            <button type="submit" id="log-in" [disabled]="recuperarUsuario.invalid">Recuperar</button><br><br>
            <p><a class="mt-3" routerLink="/login">Volver</a></p>
        </form>
    </div>
    <div *ngIf="loading" class="recuperar d-flex align-items-center justify-content-center">
        <app-spinner></app-spinner>

    </div>
</section>