@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Open+Sans&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 5;
    padding: 5;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.texto-portada{
    position: absolute;
    left: 20%;
    width: 30%;
}
.aumento{
    font-size: 30px;
}

.registro{
    position: fixed;
    right: -15%;
    top: 10%;
    width: 50%;
    height: 30%;
    color: rgb(44, 9, 9);
    background-size: cover;
    background-position: center;
}
form{
    width: 50%;
    padding: 20px 30px;
    background: #f8f8f84d;
    position: absolute;
    border-radius: 20px;
    
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
     0 10px 10px rgba(0, 0, 0, 0.22);
}
form p{
    
    margin-bottom: 20px;
    font-size: 15px;
    color: #200808;
}
form p a{
    color: #313106;
}
form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #370b0b;
}
form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}
form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #fdfa46;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    outline: none;
}
.texto-portada h1{
    font-family: 'ABeeZee', sans-serif;
}
.texto-portada p{
    justify-content:center;
    font-family: 'Open Sans', sans-serif;
}
h2 a{
    text-decoration: none;
    color: rgb(50, 7, 7);
}
h2 a:hover{
    color: #0ed4ad;
}
.nombre li a{
    color: rgb(33, 4, 4);
    text-decoration: none;
    font-size: 1.1em;
    margin: 25px 10px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.portada{
    height: 735px;
    background-image: url(../../../assets/Imágenes/FondoW2.png);
    color: rgb(20, 4, 4);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    background-blend-mode: darken;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
li{
    list-style: none;
}
li a{
    color: rgb(16, 3, 3);
    text-decoration: none;
    font-size: 1.1em;
    margin: 25px 10px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
li a:hover{
    color: #d40020;
}