
    <header>
        <nav class="nombre navbar fixed-top navbar-expand-lg d-flex justify-content-start">
            <ul class="menu" >
                <li class="navbar-brand">
                    <a href="#" class="navbar-brand">TURI-MANTA</a>         
                </li>
            </ul>
        </nav>
        <nav class="navbar fixed-top navbar-expand-lg d-flex justify-content-end">
        
            <ul class="menu" >
                <li class="navbar-brand">
                    <a routerLink="/bienvenida">Inicio</a>
                </li>
                <li class="navbar-brand">
                    <a routerLink="/lugares">Lugares</a>
                </li>
                <li class="navbar-brand">
                    <a routerLink="/destacados">Destacados</a>
                </li>
                <li>
                    <a class="aumento" routerLink="/favoritos"><i class="fa-solid fa-heart"></i></a>
                </li>
                <li>
                    <a (click)="logOut()"><button>Cerrar Sesión</button></a>
                </li>
            </ul>
        </nav>
        <div class="portada d-flex justify-content-center align-items-center flex-column">
            <div class="texto-portada">
                <h1>Wyndham Manta Sail Plaza Hotel VIP</h1>
                <p>Disfruta de las impresionantes vistas al océano Pacífico y una gran cantidad 
                    de servicios en el Wyndham Manta Sail Plaza Hotel and Convention Center. 
                    Convenientemente ubicado en el centro de la ciudad costera y a 10 kilómetros 
                    del Aeropuerto Internacional Eloy Alfaro (MEC), nuestro hotel contemporáneo 
                    está a pasos de la playa y cerca de restaurantes, bares y atracciones. Nuestra 
                    propiedad de primer nivel cuenta con una amplia piscina con borde infinito, un 
                    moderno gimnasio y una sala de cine. Disfruta todo el día de los restaurantes y 
                    bares en las instalaciones, y diviértete con el karaoke y el baile en nuestro club 
                    nocturno. Los alojamientos espaciosos y libres de humo están completamente equipados 
                    con servicios como WiFi gratis y una cafetera con café gourmet ecuatoriano.</p>
            </div>  
            <a onclick="mostrarsanlorenzoimg1();"><img class="imagen1" src="../../../assets/Imágenes/Wyndham/1.png" width="210" height="150"></a>
            <a onclick="mostrarsanlorenzoimg2();" ><img  class="imagen2" src="../../../assets/Imágenes/Wyndham/2.png" width="210" height="150"></a>
            <a onclick="mostrarsanlorenzoimg3();"><img class="imagen3" src="../../../assets/Imágenes/Wyndham/3.png" width="210" height="150"></a>
            <div id="imagen1eno" class="imagen1eno"> 
                <img   src="../../../assets/Imágenes/Wyndham/1.png" width="672" height="450">
            </div>
            <div id="imagen2eno" class="imagen2eno"> 
                <img   src="../../../assets/Imágenes/Wyndham/2.png" width="672" height="450">
            </div>
            <div id="imagen3eno" class="imagen3eno"> 
                <img   src="../../../assets/Imágenes/Wyndham/3.png" width="672" height="450">
            </div>
        </div>
        <a class="com" routerLink="/comentarios-wyndham">Ver comentarios</a>
    </header>
