<header>
    <nav class="nombre navbar fixed-top navbar-expand-lg d-flex justify-content-start">
        <ul class="menu" >
            <li class="navbar-brand">
                <a href="#" class="navbar-brand">TURI-MANTA</a>         
            </li>
        </ul>
    </nav>
    <nav class="navbar fixed-top navbar-expand-lg d-flex justify-content-end">
    
        <ul class="menu" >
            <li class="navbar-brand">
                <a routerLink="/login">Inicio</a>
            </li>
            <li class="navbar-brand">
                <a routerLink="/sobre">Sobre</a>
            </li>
            <li class="navbar-brand">
                <a routerLink="/contactanos">Contáctanos</a>
            </li>
        </ul>
    </nav>
    <div class="portada d-flex justify-content-center align-items-center flex-column">
        <div class="texto-portada">
            <h1>Contáctanos</h1>
            <p>Si necesitas ayuda o informacion, puedes comunicarte con nosotros atraves de los 
                canales oficiales.
            </p>
        </div>  
        <img src="../../../assets/Imágenes/Careta.png" width="750" height="400">
        <i class="fa-brands fa-whatsapp"></i>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-solid fa-envelope"></i>
        <p class="wts">+593 9 9588 3715</p>
        <p class="fb">@Horarios-Uleam FCT</p>
        <p class="ig">@Uleam-Horarios</p>
        <p class="tw">@Horarios-Uleam</p>
    </div>
    
