
    <header>
        <nav class="nombre navbar fixed-top navbar-expand-lg d-flex justify-content-start">
            <ul class="menu" >
                <li class="navbar-brand">
                    <a href="#" class="navbar-brand">TURI-MANTA</a>         
                </li>
            </ul>
        </nav>
        <nav class="navbar fixed-top navbar-expand-lg d-flex justify-content-end">
    
            <ul class="menu" >
                <li class="navbar-brand">
                    <a routerLink="/login">Inicio</a>
                </li>
                <li class="navbar-brand">
                    <a routerLink="/sobre">Sobre</a>
                </li>
                <li class="navbar-brand">
                    <a routerLink="/contactanos">Contáctanos</a>
                </li>
            </ul>
        </nav>
        <div class="portada d-flex justify-content-center align-items-center flex-column">
            <div class="texto-portada">
                <h1><strong>ULEAM</strong></h1>
                <h5>La Universidad Laica “Eloy Alfaro” de Manabí, creada mediante Ley No. 10 publicada en el Registro Oficial No. 313 
                    de noviembre 13 de 1985, es una institución de Educación Superior, con personería jurídica de derecho público 
                    sin fines de lucro, de carácter laico, autónoma, democrática, pluralista, crítica y científica.
                    La Universidad Laica “Eloy Alfaro” de Manabí tiene su sede en Manta, una de las cinco principales ciudades del Ecuador, 
                    ciudad ribereña al mar, centro pesquero de los mas importantes del Pacifico Sur y ciudad de gran potencialidad en cuanto 
                    a desarrollo turístico, es además una ciudad que se proyecta a futuro como posible puerto de transferencia internacional. 
                    La Universidad fundamentalmente sirve a la juventud de la tercera provincia del Ecuador
                     que tiene una población que supera el millón doscientos mil habitantes.</h5>
            
            </div>  
            <img src="../../../assets/Imágenes/LogoU.png" width="800" height="500">

        </div>
    </header>
