html body{
    background-color: #24303c;
    background:#24303c ;
  }

  .form-floating{
    text-align: start;
    
  }

  .errorLabel{
    margin-left: 5px;
    color: white;
  }
  nav ul li a i{
    font-size: 30px;
    }